# SQL and SQLite3

## SQL
SQL (Structured Query Language) is a standard programming language used to manage and manipulate relational databases. It allows users to perform various operations such as querying data, inserting new records, updating existing records, and deleting data. SQL is widely used due to its simplicity and ability to handle large datasets efficiently.

### Common SQL Commands:
- **SELECT**: Retrieve data from a database.
- **INSERT**: Add new records to a table.
- **UPDATE**: Modify existing records in a table.
- **DELETE**: Remove records from a table.
- **CREATE TABLE**: Define a new table in the database.
- **DROP TABLE**: Delete a table from the database.

## SQLite3
SQLite3 is a lightweight, self-contained, serverless database engine that uses SQL for database management. It is an embedded database, meaning it is stored as a single file on disk, making it ideal for small to medium-sized applications, prototyping, and testing.

### Features of SQLite3:
- **Serverless**: No need for a separate server process.
- **Zero Configuration**: No setup or administration required.
- **Cross-Platform**: Works on multiple operating systems.
- **Lightweight**: Minimal resource usage.

### Using SQLite3 in Python:
The `sqlite3` module in Python provides an interface to interact with SQLite databases. It allows you to create, query, and manage SQLite databases directly from your Python code.

In [ ]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
con = sqlite3.connect('example_database.db')
con

In [ ]:
# Create a cursor object using the cursor() method
cur = con.cursor()
# Create a table if it doesn't exist
cur.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)''')

# Commit the changes
con.commit()

In [7]:
# Insert some data into the table
cur.execute('''
INSERT INTO users (name, age)
 VALUES (?, ?)''', ('Alice', 30)
)

con.commit()

In [12]:
cur.execute('Select * from users')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 31)
(2, 'Bob', 25)
(3, 'Alice', 31)
(4, 'Alice', 31)

In [ ]:
# Update a age of a user
cur.execute('''
UPDATE users
SET age = ?
WHERE name = ?''', (31, 'Alice')
)
con.commit()

In [ ]:
cur.execute('''
        Create table if not exists users2 (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER NOT NULL,
        phoneno Integer NOT NULL,
        address TEXT NOT NULL
)''')

user2_data = [
    ('Bob', 25, 1234567890, '123 Main St'),
    ('Charlie', 35, 9876543210, '456 Elm St'),
    ('David', 28, 5555555555, '789 Oak St'),
    ('Eve', 22, 1111111111, '101 Pine St'),
    ('Frank', 40, 2222222222, '202 Maple St'),
]

# Insert multiple rows of data into the table
cur.executemany('''
INSERT INTO users2 (name, age, phoneno, address)
VALUES (?, ?, ?, ?)''', user2_data)

con.commit()
# Fetch and print all rows from the table
cur.execute('SELECT * FROM users2')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Bob', 25, 1234567890, '123 Main St')
(2, 'Charlie', 35, 9876543210, '456 Elm St')
(3, 'David', 28, 5555555555, '789 Oak St')
(4, 'Eve', 22, 1111111111, '101 Pine St')
(5, 'Frank', 40, 2222222222, '202 Maple St')

In [23]:
# Close the connection for the database temporarily
con.close()