In [1]:
import pandas as pd 

# Series with default index
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Series with custom index
series = pd.Series(['a', 'b', 'c', 'd', 'e'], index=[101, 102, 103, 104, 105])
print(series)

101    a
102    b
103    c
104    d
105    e
dtype: object

In [ ]:
# Creating a dataframe from a dictionary
dict = {
    'Name': ['Rayyan Bin Jaweed', 'Syed Akber Ahmed', 'Muhammad Ali', 'Muhammad Usman', 'Muhammad Uzair'], # List of names, ROWS of the dataframe
    'Age': [21, 22, 23, 24, 25],
    'City': ['Karachi', 'Lahore', 'Islamabad', 'Quetta', 'Peshawar'],
    'Interest': ['Programming', 'Cricket', 'Football', 'Hockey', 'Basketball']
}
df = pd.DataFrame(dict)
print(df)

                Name  Age       City     Interest
0  Rayyan Bin Jaweed   21    Karachi  Programming
1   Syed Akber Ahmed   22     Lahore      Cricket
2       Muhammad Ali   23  Islamabad     Football
3     Muhammad Usman   24     Quetta       Hockey
4     Muhammad Uzair   25   Peshawar   Basketball

In [7]:
# Lists create specific columns
df2 = pd.DataFrame([
    ['Alice', 25, 50000],
    ['Bob', 30, 60000],
    ['Charlie', 35, 70000]
], columns=['Name', 'Age', 'Salary'])

print(df2)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000