In [1]:
import pandas as pd 

# Series with default index
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Series with custom index
series = pd.Series(['a', 'b', 'c', 'd', 'e'], index=[101, 102, 103, 104, 105])
print(series)

101    a
102    b
103    c
104    d
105    e
dtype: object

In [ ]:
# Creating a dataframe from a dictionary
dict = {
    'Name': ['Rayyan Bin Jaweed', 'Syed Akber Ahmed', 'Muhammad Ali', 'Muhammad Usman', 'Muhammad Uzair'], # List of names, ROWS of the dataframe
    'Age': [21, 22, 23, 24, 25],
    'City': ['Karachi', 'Lahore', 'Islamabad', 'Quetta', 'Peshawar'],
    'Interest': ['Programming', 'Cricket', 'Football', 'Hockey', 'Basketball']
}
df = pd.DataFrame(dict)
print(df)

                Name  Age       City     Interest
0  Rayyan Bin Jaweed   21    Karachi  Programming
1   Syed Akber Ahmed   22     Lahore      Cricket
2       Muhammad Ali   23  Islamabad     Football
3     Muhammad Usman   24     Quetta       Hockey
4     Muhammad Uzair   25   Peshawar   Basketball

In [7]:
# Lists create specific columns
df2 = pd.DataFrame([
    ['Alice', 25, 50000],
    ['Bob', 30, 60000],
    ['Charlie', 35, 70000]
], columns=['Name', 'Age', 'Salary'])

print(df2)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [ ]:
print(df.head(3))   # First 3 rows
print(df.tail(2))   # Last 2 rows
# Note that if no input is given to head() or tail(), it will return 5 rows by default

                Name  Age       City     Interest
0  Rayyan Bin Jaweed   21    Karachi  Programming
1   Syed Akber Ahmed   22     Lahore      Cricket
2       Muhammad Ali   23  Islamabad     Football
             Name  Age      City    Interest
3  Muhammad Usman   24    Quetta      Hockey
4  Muhammad Uzair   25  Peshawar  Basketball

In [12]:
print(df.shape) # Returns the number of rows and columns in the dataframe
print(df.info()) # Returns the information about the dataframe

(5, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   Age       5 non-null      int64
 2   City      5 non-null      object
 3   Interest  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes
None

In [13]:
print(df.describe()) # Returns the statistical information about the dataframe

             Age
count   5.000000
mean   23.000000
std     1.581139
min    21.000000
25%    22.000000
50%    23.000000
75%    24.000000
max    25.000000

In [16]:
df.rename(columns={'Name': 'Full Name'}, inplace=True) # Renaming the column 'Name' to 'Full Name'
df

           Full Name  Age       City     Interest
0  Rayyan Bin Jaweed   21    Karachi  Programming
1   Syed Akber Ahmed   22     Lahore      Cricket
2       Muhammad Ali   23  Islamabad     Football
3     Muhammad Usman   24     Quetta       Hockey
4     Muhammad Uzair   25   Peshawar   Basketball